<div class="row">
  <form class="col-md-6 offset-md-3">
    <h1>Contact us</h1>
    <div class="form-group">
      <label for="email">Email</label>
      <input [(ngModel)]="contact.email"
             [ngClass]="{'is-invalid': displayErrors(emailRef)}"
             #emailRef="ngModel"
             required minlength="3" email
             name="email" id="email" type="email" class="form-control">
      <div class="invalid-feedback" *ngIf="displayErrors(emailRef)">
        <div *ngIf="emailRef.errors?.required">This field is required</div>
        <div *ngIf="emailRef.errors?.minlength">This field is too short</div>
        <div *ngIf="emailRef.errors?.email">This field is not an email</div>
      </div>
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea [(ngModel)]="contact.message"
                minlength="5"
                name="message" id="message" class="form-control is-invalid"></textarea>
      <div class="invalid-feedback">This field is invalid</div>
    </div>
    <button disabled class="btn btn-primary float-right">Send</button>
  </form>
</div>
