<div class="row">
  <tm-poster class="col col-3" [show]="show"></tm-poster>

  <section class="col">
    <h1>{{show?.name}}</h1>
    <div [innerHTML]="show?.summary"></div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>number</th>
        <th>name</th>
        <th>air date</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let episode of show._embedded.episodes">
        <td>{{episode.season}} {{episode.number}}</td>
        <td>{{episode.name}}</td>
        <td>{{episode.airdate}}</td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
