<div class="row">
  <div class="col col-3">
    <h2 class="h3">Bookmarks</h2>
    <section class="row">
      <div class="col col-6" *ngFor="let show of allBookmarks">
        <tm-poster [show]="show">
          <tm-bookmark-remove [show]="show"></tm-bookmark-remove>
        </tm-poster>
      </div>
    </section>
  </div>

  <div class="col">
    <h1 class="h3">Search</h1>
    <form class="input-group" [formGroup]="searchForm">
      <input formControlName="query" name="query" type="search" class="form-control">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary" (click)="search(searchForm.get('query').value)">find</button>
      </div>
    </form>
  </div>

  <section class="row">
    <div class="col col-4" *ngFor="let show of shows">
      <tm-poster [show]="show">
        <tm-bookmark-add [show]="show"></tm-bookmark-add>
        <tm-bookmark-remove [show]="show"></tm-bookmark-remove>
      </tm-poster>
    </div>
  </section>
</div>
